<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{title}}</title>
<link href="/static/css/style.css" rel="stylesheet" type="text/css">
<link href="/static/multiple-select/multiple-select.css" rel="stylesheet">
<script src="/static/js/jquery.min.js" type="text/javascript"></script>
<script src="/static/multiple-select/jquery.multiple.select.js"></script>
<script src="/static/js/admin.js" type="text/javascript"></script>
</head>
<body>
<script type="text/javascript">
function del_role(id) {
    $.post("/ajax_role", {"act":'del',"role_id":id}, function(json){
        alert(json);
        window.location.reload();
        //window.parent.opener.location.reload();
    });
} 
function change_info(){
        var args = $("#key").serialize();
        window.location = window.location.pathname + "?" + args;
    }
$(document).ready(function() {
$("#key").keydown(function(e){
    if(e.keyCode==13){
        change_info()
    }
});
});
</script>
<div class="adminTable">
<div class="infoForm">
<section class="content-header">
<input id="search" name="search" type="submit" style="float:right" value="添加角色" class="Btn" onclick="openWin('/add_role');"/><input id="search" name="search" type="submit" style="float:right" value="搜索" class="Btn" onclick="change_info()"/><input id="key" name="key" type="text" class="form_2" style="float:right" value="{{ key }}"/>
    <h1>{{title}}</h1>
</section>
</div>
<table width="100%" border="1" cellspacing="0" cellpadding="0">
<thead>
  <tr>
    <th align="left" valign="middle">id</th>
    <th align="left" valign="middle">角色名</th>
    <th align="left" valign="middle">角色中文名</th>
    <th align="left" valign="middle">角色描述</th>
    <th align="left" valign="middle">创建人</th>
    <th align="left" valign="middle">创建时间</th>
    <th align="left" valign="middle">更新时间</th>
    <th align="center" valign="middle">操作</th>
  </tr>
</thead>
<tbody>
{% load pagination_tags %}
{% autopaginate rets pagenum %}
{% for ret in rets %}
  <tr id={{ret.id}}>
    <td align="left" valign="middle">{{ret.id}}</td>
    <td align="left" valign="middle">{{ret.name}}</td>
    <td align="left" valign="middle">{{ret.zh_name}}</td>
    <td align="left" valign="middle">{{ret.desc}}</td>
    <td align="left" valign="middle">{{ret.creator}}</td>
    <td align="left" valign="middle">{{ret.create_time}}</td>
    <td align="left" valign="middle">{{ret.update_time}}</td>
    <td align="center" valign="middle"><a href="javascript:void(0);" class="handle" onclick="openWin('/edit_role?id={{ ret.id}}');"><img title='处理' src="/static/img/pencil.png" alt="Edit"></a>{% ifequal ret.flag 0 %}<a href="javascript:void(0);" class="handle" onclick="if(confirm('确实要删除吗?'))del_role('{{ ret.id }}');"><img title='删除' src="/static/img/cross.png" alt="Delete"></a>{% endifequal %}</td>
  </tr>
{% endfor %}
</tbody>
</table>
</div>
{% paginate %}
</body>
</html>
